body {
	font-size: 18px;
}

.goback {
	font-size: 14px;
	font-family: 'Open Sans';
	float: right;
	text-decoration: none;
}

#inner-container {
	padding-bottom: 50px;
}

table td {
	vertical-align: top;
}

td.table_text {
	padding-left: 10px;
}

td.table_img {
	padding-top: 10px;
}

#butons button {
	font-size: 1.25em;
	min-height: 2em;
	color: white;
	text-decoration: none;
}

button#win {
	background-color: green;
}

button#lose {
	background-color: red;
}

.victima {
	font-size: 24px;
}

#victim_img {
	float: left;
	max-width: 100%;
	margin-right: 16px;
}

img.black {
	filter: brightness(0%);
}

#victim_name {
	font-weight: bold;
	font-size: 1.5em;
	margin-bottom: 8px;
}

#victim_curs_i_grau {
	font-size: 1em;
	margin-bottom: 16px;
}

@media (max-width: 700px) {
	#victim_img {
		width: 100px;
	}

	#victim_name {
		font-weight: bold;
		font-size: 1.25em;
		margin-bottom: 8px;
	}
}

.formulari_contrasenya {
	padding: 5px 20px;
	font-size: 18px;
	background-color: rgba(255, 255, 255, 0.8);
	border-bottom: solid grey 1px;
	display: none;
}
